@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&family=Shrikhand&display=swap');

body{
    font-family: roboto;
    margin: 0;;
}


.head{
    height:60px;
    position:sticky;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

.return{
    position:relative;
    float: left;
    left: -54px;
}

.i_return{
    font-size: 14pt;
    color:black;
}

.main_cont{
    background-color: #f6f6f6;
}

.menu_img{
    height:400px;
}

.photo_gal{
    width:100%;
    height: auto;
}

.resto_menu{
    background-color:#f6f6f6;
    position:relative;
    top: -47px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}

.menu_header{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;
}

.menu_header h2{
    font-family: shrikhand;
}

.like{

}

.holder{
    display: flex;
    flex-flow: column nowrap;
}

.header, .header_line{
    font-weight: 300;
    margin-left: 5%;
}

.header_line{
    border: 1px solid #99E2D0;
    width: 40px;
}

.plats, .dess{
    margin-top:6%;
}
.card_hold{
    display: flex;
    flex-flow: column nowrap;
}

.card{
    background-color: white;
    border-radius:15px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: flex-start;
    height:70px;
    width:96%;
    margin:2%;
    box-shadow: 0px 5px 6px 0px #dfdcdc;
    animation-name:move;
    animation-duration: 3s;
    overflow:hidden;
}

@keyframes move{
    0%{opacity:0; position:relative; margin-top:10%;}
    100%{opacity:1; position:relative; margin-top:2%;}

}

.menu_hold{
    display: flex;
    flex-flow: row nowrap;
    justify-content:space-between;
    align-items: self-end;
    width:100%;
    height:100%;
}

.words{
    max-width:80%;
    height:100%;
}

.card h4{
    margin:10px;
    font-weight: 400;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.card p{
    margin:0;
    margin-left:10px;
    font-size:10pt;
    font-weight: 200;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.price{
    width:40px;
}

.valid{
    width:15%;
    height:100%;
    color:white;
    background-color: #99E2D0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card:hover .menu_hold{
    animation-name:down-size;
    animation-duration:1s;
    width:85%;
}

.card .menu_hold{
    animation-name:up-size;
    animation-duration:0.5s;
    width:100%;
}

@keyframes down-size{
    0%{width:100%;}
    100%{width:85%;}
}

@keyframes up-size{
    0%{width:85%;}
    100%{width:100%;}
}

.card:hover .check{
    animation-name: validation;
    animation-duration: 1s;
}

@keyframes validation{
    0%{transform:rotate(360deg);}
    100%{transform: rotate(0);}
}

.button_hold{
    display: flex;
    justify-content: center;
    padding-bottom: 5%;
    margin-top: 10%;
}

#button_com{
    height:50px;
    width:200px;
    font-size:14pt;
    border-style: none;
    border-radius: 45px;
    color: white;
    background:linear-gradient(#FF79DA,#9356DC);
    box-shadow: 0px 3px 10px 1px #bdbdbd;
}

#button_com:hover{
    background:linear-gradient(#ff91e4,#c291fd);
    box-shadow:0px 3px 10px 1px #a0a0a0;
}

footer{
    width:100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.foot{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    background-color: #353535;
}
.foot_header{
    color:white;
    font-family: Shrikhand;
    margin-left: 6%;
}

.i_foot{
    margin-right:2%;
}

.foot a{
    text-decoration: none;
    color:white;
    margin:2%
}
.foot_text{
    display: flex;
    flex-flow: column nowrap;
    margin-left: 4%;
    padding-bottom: 10%;
    font-weight: 300;
}

.a_foot{
    font-size:8pt;
}

@media screen and (min-width:480px){
    body{
        margin-left: auto;
        margin-right: auto;
        max-width:480px;
    }

    .resto_menu{
        margin-bottom: 5%;
        border-radius: 25px;
    }
    
    .main_cont{
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
    }

    .foot{
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
    }
}
