@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&family=Shrikhand&display=swap');

body{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    font-family: Roboto;
    margin:0;
}
.svg_hide{
    display:none;
}
.head{
    height:60px;
    position:sticky;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}
main{
    width:100%;
}

.location{
    width:100%;
    height:60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;;
    background-color: #eaeaea;
    box-shadow: inset 0px 2px 1px 0px #bdbdbd;
}

.location input{
    border:none;
    max-width:60%;
    font-size:14pt;
    font-weight: 300;
    color:#1b1b1b;
    background-color:#eaeaea;
}
.loc{
    color:#1b1b1b;
    padding-right: 2%;
    padding-left:10%;
    max-width:5%;
}

.explore{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    background-color: #f6f6f6;
    text-align: justify;
    height: 320px;
}

.explo_text1{
    text-align: center;
    padding-top:4%;
    padding-right: 4%;
    padding-left: 4%;
    margin-bottom: 0;
}

.explo_text1 h1{
    margin-bottom: 0;
}

.explo_text2{
    text-align: center;
}
.explo_text2 h3{
    font-weight: 100;;
}

.explo_but{
    display: flex;
    justify-content: center;
}

#explo_button{
    height:60px;
    width:250px;
    font-size:14pt;
    border-style: none;
    border-radius: 45px;
    color: white;
    background:linear-gradient(#f792da,#ab66ff);
    box-shadow: 0px 3px 10px 1px #bdbdbd;
    
}

#explo_button:hover{
    background:linear-gradient(#ff91e4,#c291fd);
    box-shadow:0px 3px 10px 1px #a0a0a0;
}

.fonct{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding-top:10%;
    padding-bottom: 10%;
}

.fonct_head{
    margin-left: 10%;

}

ol {
    counter-reset: item;
    line-height: 2.1;
    padding-inline-start: 4%;
  }
  
  ol li {
    display: block;
    position: relative;
  }

  ol li:before {
    content: counter(item) " ";
    counter-increment: item;
    color: white;
    position: absolute;
    top: 50%;
    margin-top: -13px;
    background: #9356DC;
    height: 24px;
    width: 24px;
    text-align: center;
    border-radius: 20px;
    font-weight: 500;
    font-size:10pt;
    left:2%;
  }

.fonct_card{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 12px;
    height: 70px;
    border-radius: 20px;
    font-size: 14pt;
    box-shadow: 0px 5px 14px 0px #bdbdbd87;
    margin:7%;
}

.fonct_card:hover .icon{
    color:#9356dc;
}

.fonct_card a{
    text-decoration: none;
    color:black;
    font-size:13pt;
    margin-right: 20px;
}

.icon{
    font-size:13pt;
    color:#7e7e7e;
}

.lg{
    font-size:14pt;
}
.resto{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items:flex-start ;
    background-color: #f6f6f6;
    padding-bottom: 10%;
    padding-top: 10%;
}

.resto_header{
    margin-left:6%;
}

.resto_card_holder{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
}

.resto_card{
    width:90%;
    height: 255px;
    display: flex;
    flex-flow: column nowrap;
    border-radius: 18px;
    margin: 4%;
    box-shadow: 0px 7px 17px 4px #dfdfdf;
    background-color: white;
}

.resto_link{
    text-decoration: none;
    color: black;
    width:100%;
    height:100%;
    overflow: hidden;
}

.img_holder{
    position:relative;
    width: 100%;
    height: 175px;
    border-top-right-radius: 18px;
    border-top-left-radius: 18px;
    overflow:hidden;
}

.photo_gal{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.new_sign{
    position:absolute;
    float:right;
    top:20px;
    right:20px;
    z-index:2;
    background-color: #99E2D0;
    width:80px;
    height:30px;
    text-align: center;
    font-size: 11pt;
    line-height: 2;
    color:#2c7965;
    border-radius: 3px;
}

.leg_holder{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2%;
    margin-left: 3%;

}
.leg_words{
    display:flex;
    flex-flow: column nowrap;
    width:80%;
}

.leg_words>*{
    margin: 2%;
}

.leg_holder h4{
    font-size:14pt;
}

.leg_words h5{
    font-size:13pt;
    font-weight: 300;
}


.i_hold{
    width:50px;
    height:50px;
    padding-top: 4%;
}

.like-button-bg
{
	display: inline-block;
    height:30px;
    width: 30px;
	background-image: linear-gradient(to top,#FF79DA,#9356DC);
    clip-path: url(#heart);
}

.like_button{
    background-color: white;
    height:30px;
    width: 30px;
	opacity: 1;
	transition: opacity 1s;
}

.like{
    font-size:23pt;
    font-weight: 200;
}

.like_button:hover{
    opacity: 0;
}

footer{
    width:100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.foot{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    background-color: #353535;
}
.foot_header{
    color:white;
    font-family: Shrikhand;
    margin-left: 6%;
}

.i_foot{
    margin-right:2%;
}

.foot a{
    text-decoration: none;
    color:white;
    margin:2%
}
.foot_text{
    display: flex;
    flex-flow: column nowrap;
    margin-left: 4%;
    padding-bottom: 10%;
    font-weight: 300;
}

.a_foot{
    font-size:8pt;
}

.spinner_hold{
    width:100%;
    max-width:1102px;
    height:100%;
    background-color: white;
    z-index: 30;
    position:fixed;
    top: 0;
    display:flex;
    flex-flow:row nowrap;
    justify-content: center;
    align-items: center;
    animation-name:dis;
    animation-duration:3s;
    animation-fill-mode:forwards;
}

@keyframes dis{
    0%{opacity:1; display:flex; transform:scale(1);}
    99%{opacity:1; display:flex; transform: scale(1);}
    100%{opacity:0; display:none; transform: scale(0);}
}

.spinner{
    width:44px;
    height:44px;
    border-width:5px;
    border-style:dotted;
    border-color: #9356DC;
    border-radius: 50%;
    animation-name: dissapear;
    animation-duration: 3s;
    animation-fill-mode:forwards;
    opacity:0.8;
}

@keyframes dissapear{
    0%{opacity:0.8; transform:rotate(1240deg) scale(1); border-color:#FF79DA;}
    20%{opacity:1; transform: rotate(900deg) scale(2); border-color: #99E2D0;}
    40%{ opacity:0.8; transform: rotate(1540deg) scale(4); border-color:#2c7965}
    60% { opacity:1; transform:rotate(900deg) scale(2); border-color:#9356dc;}
    90% { opacity:1; transform:rotate(300deg) scale(2); border-color:#FF79DA;}
    99%{opacity:0.5; transform: rotate(0) scale(1); border-color:white;}
    100%{display:none; opacity:0; transform: scale(0);}
}

@media screen and (min-width:576px){
    
    .fonct{
        margin-left: auto;
        margin-right: auto;
        max-width:576px;
    }
    .fonct_head{
        margin:0;
        text-align: center;
    }

    ol li:before {
        left:5%;
    }
    .resto_card_holder{
        display:flex;
        flex-flow:column wrap;
        justify-content: space-between;
        width:50%;
        height:600px;
    }
    .explore{
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
    }

    .resto{
        border-radius: 25px;
        padding-top:5%;
        padding-bottom: 5%;
        width: 100%;
    }

    .foot{
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
    }
}

@media screen and (min-width:1100px){
    body{
        margin-left:auto;
        margin-right:auto;
        max-width:1100px;
    }
}